{
  "branches": [
    "main", { name: "dev", prerelease: true }
  ],
  "tagFormat": "npm_v${version}",
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./js/"
      }
    ]
  ]
}
